{% extends "blog/base.html" %}

{% block content %}
    <h1 class="mb-4">Posts Tagged: #{{ tag_name }}</h1>

    {% if posts %}
        <p class="text-success">Found {{ posts.count }} posts with this tag.</p>
        {% for post in posts %}
            <article class="media content-section">
                <h2><a class="article-title" href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content|truncatewords:30 }}</p>
                <div class="article-tags mt-2">
                    <strong>Tags:</strong> 
                    {% for tag in post.tags.all %}
                        <a href="{% url 'posts-by-tag' tag_slug=tag.slug %}" class="badge badge-info">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </article>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning">
            No posts found with the tag #{{ tag_name }}.
        </div>
    {% endif %}
{% endblock content %}